[Unit]
Description=PiMirror Docker Compose
After=docker.service network-online.target user@1000.service graphical.target
Wants=docker.service network-online.target user@1000.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/PiMirror
Environment=UID=1000
Environment=GID=1000
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WAYLAND_DISPLAY=wayland-0
Environment=WAIT_RUNTIME_SEC=180
ExecStart=/home/pi/PiMirror/scripts/docker-kiosk-up.sh
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
